* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px);
}

.top {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%);
  background-image: url(img/back_main.jpg);
  height: 1024px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__text {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  padding-top: 217px;
  padding-bottom: 32px;
}

.header__text_desc {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-bottom: 44px;
}

.header__link_button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #9C0332;
  border-radius: 30px;
  width: 234px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header__link_button:hover {
  background: #EB443F;
}

.bottom {
  background: #000915;
  height: 556px;
}

.item__box {
  padding-top: 128px;
  display: flex;
  gap: 32px;
}

.item__text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  padding-left: 32px;
  padding-bottom: 32px;
}

.item__box_item {
  width: 379px;
  height: 300px;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  background-position: center;
  background-size: cover;
}

.item__box_item:nth-child(1) {
  background-image: url(img/back_item1.png);
}

.item__box_item:nth-child(2) {
  background-image: url(img/back_item2.png);
}

.item__box_item:nth-child(3) {
  background-image: url(img/back_item3.png);
}

.item__box_item:hover {
  border: 3px solid #44D2FF;
}

.seasons {
  background: #000915;
  display: flex;
}
.seasons__box {
  display: flex;
}
.seasons__box_about {
  display: flex;
  flex-direction: column;
  padding-top: 282px;
  padding-bottom: 282px;
  padding-right: 135px;
  gap: 32px;
}
.seasons__box_text {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.seasons__box_desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.seasons__box_button {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  font-style: normal;
  line-height: 22px;
  color: #FFFFFF;
  background: #9C0332;
  border-radius: 30px;
  width: 234px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.seasons__box_button:hover {
  background: #EB443F;
}
.seasons__box_img {
  width: 100%;
  height: 322px;
  padding-bottom: 233px;
  padding-top: 233px;
}

.wordsgame {
  background: #000915;
  display: flex;
}

.wordsgame__box {
  background: #000915;
  display: flex;
}
.wordsgame__box_img {
  width: 100%;
  height: 322px;
  padding-top: 232px;
  padding-bottom: 232px;
}
.wordsgame__box_about {
  display: flex;
  flex-direction: column;
  padding-top: 282px;
  padding-bottom: 282px;
  padding-right: 116px;
  padding-left: 150px;
  gap: 32px;
}
.wordsgame__box_text {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.wordsgame__box_desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.wordsgame__box_button {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  font-style: normal;
  line-height: 22px;
  color: #FFFFFF;
  background: #9C0332;
  border-radius: 30px;
  width: 234px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wordsgame__box_button:hover {
  background: #EB443F;
}

@media (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__text {
    padding-top: 238px;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    text-align: center;
  }
  .header__text_desc {
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    text-align: center;
  }
  .header__link_button {
    margin-left: 70px;
    margin-right: 70px;
  }
  .item__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item__box__box_item {
    width: 343px;
  }
  .bottom {
    height: 1221px;
    padding-bottom: 51px;
  }
  .seasons {
    display: flex;
  }
  .seasons__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seasons__box_about {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
  }
  .seasons__box_text {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .seasons__box_desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .seasons__box_img {
    width: 100%;
    height: 100%;
    padding-top: 64px;
    padding-bottom: 85px;
  }
  .wordsgame__box {
    display: flex;
    flex-direction: column-reverse;
  }
  .wordsgame__box_about {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    align-items: center;
  }
  .wordsgame__box_text {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .wordsgame__box_desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .wordsgame__box_img {
    width: 100%;
    height: 100%;
    padding-top: 64px;
    padding-bottom: 85px;
  }
}/*# sourceMappingURL=style.css.map */